<form method="POST" action="/register" enctype="multipart/form-data">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>
  <fieldset>
      <legend>Address</legend>
      <div>
        <label for="line1">Line 1</label>
        <input type="text" name="address[line1]" id="line1">
      </div>
      <div>
        <label for="line2">Line 2</label>
        <input type="text" name="address[line2]" id="line2">
      </div>
      <div>
        <label for="city">City</label>
        <input type="text" name="address[city]" id="city">
      </div>
      <div>
        <label for="postcode">Postcode</label>
        <input type="text" name="address[postcode]" id="postcode">
      </div>
      <div>
        <label for="country">Country</label>
        <input type="text" name="address[country]" id="country">
      </div>
    </fieldset>
  <div>
    <label for="image">Image</label>
    <input type="file" name="image" id="image">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>
  <div>
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation">
  </div>

  <button>Register</button>
</form>
