<nav class="navbar navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Poker Man</a>
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="navbar-nav mr-auto">
        <% if(locals.isAuthenticated) { %>
        <li class="nav-item">
          <a class="nav-link" href="/games">Current Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/games/new">Host</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/<%= currentUser.id %>">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link logout" href="/logout">Logout</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        </ul>
      </div>
    <% } %>
  </div>
</nav>
