<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../assets/images/pokerchips.png">
    <title>Poker Man</title>
    <% include ./partials/stylesheets %>
  </head>
  <body class="<%= bodyClass %>">
    <% include ./partials/navbar %>
    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <main class="container">
      <%- body %>
      <% include ./partials/scripts %>
    </main>
  </body>
</html>
