<form method="POST" action="/games">
  <div>
    <label for="players">Number of players</label>
    <input type="number" name="players" id="players">
  </div>
  <div>
    <label for="buyIn">Buy In</label>
    <input type="number" name="buyIn" id="buyIn" placeholder="£">
  </div>
  <div>
    <label for="date">Date</label>
    <input type="datetime-local" name="date" id="date">
  </div>
  <div>
    <input type= "hidden" type="number" name="longitude" id="longitude" value="<%= currentUser.lng %>">
  </div>
  <div>
    <input type= "hidden" type="number" name="latitude" id="latitude" value="<%= currentUser.lat %>">
  </div>
  <div>
    <label for="description">Additional Information</label>
    <textarea name="description" id="description" maxlength="255"></textarea>
  </div>

  <button class="button">Submit</button>
</form>
