<div class="row">
  <div class="loginBox container col-md-8 col-sm-12">
    <form method="POST" action="/games">
      <div class="form-group">
        <label for="players">Number of players</label>
        <input type="number" name="players" id="players" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="buyIn">Buy In</label>
        <input type="number" name="buyIn" id="buyIn" placeholder="£" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" name="date" id="date" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <input type="time" name="time" id="time" class="form-control" required>
      </div>
      <div>
        <input type="hidden" type="number" name="longitude" id="longitude" value="<%= currentUser.lng %>">
      </div>
      <div>
        <input type="hidden" type="number" name="latitude" id="latitude" value="<%= currentUser.lat %>">
      </div>
      <div class="form-group">
        <label for="description">Additional Information</label>
        <textarea name="description" id="description" maxlength="255" class="form-control" placeholder="Tell us more about what food and drinks you will be providing"required></textarea>
      </div>

      <button class="btn mainBtn">Submit</button>
    </form>
  </div>
</div>
