@import "bootstrap/bootstrap-grid";

body {
  list-style-type: none;
}

body.gamespage {
  background-color: #2daf3f;
}

.github {
  margin-top: 10px;
  width: 150px;
  height: auto;
}

body.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('../assets/images/poker.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  section {
    height: 100vh;

    h1 {
      font-size: 50px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
    }
  }
}

#map {
  height: 300px;
}

.indexMap {
  width: 300px;
  height: 200px;
  float: right;
  margin-right: 5%;
}

.showMap {
  width: 60%;
}

.attend {
  width: 200px;
  height: 50px;
  border: 2px solid #000;
  margin: 10px;
}

.profileDisplay {
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
}

.form-group label.error {
  color: red;
  padding: 2px;
}

.btn-info, .btn-danger{
  margin: 5px;
}

h2 {
  margin: 10px;
}

.profilePic {
  border-radius: 50%;
  height: 200px;
  border-style: dotted;
  margin: 10px;
}

.profilePicNav {
  border-radius: 50%;
  height: 50px;
  border-style: solid;
}

.ask, .reply {
  display: block;
}

nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      float: right;
      margin-left: 20px;
      line-height: 40px;
    }
  }
}

h5 {
  margin-left: 20%;
}

.top {
  margin-top: 25px;
}

.topMap {
  margin-top: 60px;
}

.card {
  text-align: center;
}

.deleteForm {
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

textarea#reply {
  width: 200px;
}
