@import "bootstrap/bootstrap-grid";

body {
  list-style-type: none;
}

body.gamespage {
  background-color: #2daf3f;
}

.github {
  margin-top: 10px;
  width: auto;
  height: 50px;
  margin-left: -10px;
}

body.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('../assets/images/poker.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  section {
    height: 100vh;
    width: 100vw;
    img {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// come back to this as not woring in chrome dev tools right now
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
}

#map {
  height: 300px;
}

.indexMap {
  width: 300px;
  height: 200px;
  float: right;
  margin-right: 5%;
}

.showMap {
  width: 60%;
}

.attend {
  width: 200px;
  height: 50px;
  border: 2px solid #000;
  margin: 10px;
}

.profileDisplay {
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
}

.form-group label.error {
  color: red;
  padding: 2px;
}

.btn-info, .btn-danger{
  margin: 5px;
}

h2 {
  margin: 10px;
}

.profilePic {
  border-radius: 50%;
  height: 200px;
  margin: 10px;
}

.profilePicNav {
  border-radius: 50%;
  height: 50px;
  border-style: solid;
}

.ask, .reply {
  display: block;
}

nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      float: right;
      margin-left: 20px;
      line-height: 40px;
    }
  }
}

h5 {
  margin-left: 20%;
}

.top {
  margin-top: 25px;
}

.topMap {
  margin-top: 60px;
}

.card {
  text-align: center;
}

.deleteForm {
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

textarea#reply {
  width: 200px;
}

.navbar-toggler {
  float: right;
  margin-left: 150px;
}

.loginBox {
  background-color: lightseagreen;
  margin-top: 7%;
  padding: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

.loginBtn {
  background-color: #002366;
  color: lightseagreen;
}

nav {
  background-color: lightseagreen;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-brand {
  font-family: 'Anton', sans-serif;
}

button.navbar-toggler {
  background-color: crimson;
  opacity: 0.7;
  background-image: url('../assets/images/pokerchips.png');
  background-repeat: no-repeat;
  background-position: center;
}
