<div class="row">
  <div class="loginBox container col-sm-12 col-md-8">
    <form method="POST" action="/login">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
      </div>

      <button class="btn mainBtn">Login</button>
    </form>

    <a href="<%= oauth.github.getLoginURL() %>"><img src="https://s3-eu-west-1.amazonaws.com/wdi-ldn-express-project2/githublogin.png" class="github"></a>
  </div>
</div>
